#root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: black;
  color: white;
  font-weight: 300;
}
.navbar {
  background-color: #111;
}
h2{
  padding-left: 30px;
}
body{
  background-color: #111;
}